@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Quicksand:wght@300..700&display=swap');

.home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5%;
}

.hero-content {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
}

/* Left Section */
.left {
  flex: 1;
  text-align: left;
  padding-right: 50px;
}

.left h2 {
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 1.3;
  color: #F4F4F4;
}

.left p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #EDEDED;
  max-width: 500px;
}

.left br {
  display: block;
  margin: 10px 0;
}

/* Right Section */
.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right img {
  width: 100%;
  max-width: 20rem;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .hero-content {
    flex-direction: column-reverse;
    text-align: center;
  }

  .left {
    padding: 0;
  }

  .right {
    margin-top: 30px;
  }

  .right img {
    max-width: 300px;
  }

  /* Hide social links on small devices */
  .social-links {
    display: none !important;
  }

  .hero-btn {
    margin-bottom: 20px;
  }
}

/* Social Links */
.social-links {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: -125px;
  width: 100%;
}

.social-links a {
  display: inline-block;
  margin-right: 10px;
  font-size: 1.5rem;
  color: #F4F4F4;
  transition: color 0.3s;
}

/* Hero Button Styles */
.hero-btn a {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #D96F33;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-size: 20px;
}

.btn-learn:hover {
  background-color: #ff5e00;
}

.hero-btn a:last-child {
  background-color: transparent;
  border: 1px solid #ffffff;
}

.hero-btn a:last-child:hover {
  background-color: #D96F33;
  color: #ffffff;
  border: 1px solid transparent;
}

