.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
}

.hamburger {
    cursor: pointer;
    display: none;
    margin-left: auto;
    padding: 15px;
    border-bottom-left-radius: 50%;
    backdrop-filter: blur(10px);
}

/* Close button styling */
.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease-in-out;
}

/* Navigation menu */
.nav-links {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-size: 1.5rem;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    backdrop-filter: blur(50px);
}

.nav-links ul {
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links.active {
    transform: translateX(0);
}

.nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.nav-list a {
    font-family: 'lobster', cursive;
}

.round {
    width: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.round-inner {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    filter: blur(100px);
    transform: translate(150%, 50%);
}

@media screen and (max-width: 768px) {
    .hamburger {
        display: flex;
    }
}
