.lottie-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Disable the links visually */
.disabled {
  pointer-events: none;
  color: #ccc;
  opacity: 0.3;
  cursor: not-allowed;
}
